












.email-app {
    display: flex;
    width: 100%;
}

.email-details {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    border: 1px solid grey;
}
.email-details .email-header{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid grey;    
}

.email-details .email-msg{
    padding: 1em;
}
.email-list {
    display: flex;
    height: 100vh;
    width: 30%;
}

.email-preview.unread {
    background-color: lightblue;
}

.email-preview {
    width: 100%;
    height: fit-content;
    background-color: lightgrey;
    height: fit-content;
    cursor: pointer;
    border-bottom: 1px solid darkgrey;
    padding: 0.5em;
}

.preview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid darkgray;
    height: 100%;
}